<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/Observer.js"></script>
    <script src="./js/Compiler.js"></script>
    <script src="./js/Watcher.js"></script>
    <script src="./MVVM.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="someStr">
        <input type="text" v-model="others.otherStr">
        <p>
            <span>{{someStr}}</span>&nbsp;<span>{{others.otherStr}}</span>
        </p>
        <p v-html="html"></p>
        <p v-text="text"></p>
        <input type="button" v-on:click="console" value="Reset">
        <input type="button" value="-" v-on:click="subCount">
        <span>{{count}}</span>
        <input type="button" value="+" v-on:click="addCount">
    </div>
    <script>
        var vm = new MVVM({
            el: "#app",
            data: {
                someStr: "Hello",
                others: {
                    otherStr: "World"
                },
                html: "<span style='color: red'>HTML</span>",
                text: "<span style='color: red'>HTML</span>",
                count: 0,
            },
            methods: {
                console: function () {
                    this.someStr = "Hello";
                    this.others.otherStr = "World";
                },
                addCount: function(){
                	this.count += 1;
                },
                subCount: function(){
                	this.count += -1;
                }
            }
        });

        vm.$watch("someStr", function (value) {
            console.log(this);
        })
    </script>
</body>
</html>